name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # Atau 'master', sesuaikan branch utama Anda

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4